.main-container{
    height: 100%;
    display: flex;
    justify-content: center;
}

.loader{
    align-self: center;
    margin: 0 10px;
}

.currency-converter{
    display: flex;
    flex-direction: column;
}


.swap-button{
    align-self: center;
    width: 25px;
    height: 25px;
    border-radius: 2px;
    background-color: #188fff;
    background-image: url(https://widget-yahoo.ofx.com/resources/current/img/swap-vert.png);
    background-position: 50% 50%;
    background-size: 15px;
    background-repeat: no-repeat;
    cursor: pointer;
    transform: rotate(0.25turn);
}

@media screen and (min-width:400px) {
    .currency-converter{ 
        display: flex;
        flex-direction: row;
        height: 80px;
    }
}